﻿@model FBDelfiApi.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@{
    Dictionary<string, string> DelfiChannels = new Dictionary<string, string>()
{
      {"aculiecinieks", "Aculiecinieka ziņas"},
      {"auto", "Auto ziņas"},
      {"bizness", "Biznesa ziņas"},
      {"calis", "CĀLIS.LV ziņas"},
      {"delfi", "Visas DELFI jaunākās ziņas"},
      {"sabiedriba", "Sabiedrība"},
      {"izklaide", "Izklaide ziņas"},
      {"kultura", "Kultūras ziņas"},
      {"laikazinas", "Laika ziņas"},
      {"majadarzs", "Māja & Dārzs ziņas"},
      {"mansdraugs", "Mans draugs ziņas"},
      {"orakuls", "Orakuls ziņas"},
      {"receptes", "Recepšu ziņas"},
      {"skats", "Skats.lv ziņas"},
      {"sports", "Sporta ziņas"},
      {"tasty", "Tasty ziņas"},
      {"turismagids", "Tūrismagids.lv ziņas"},
      {"tv", "DELFI TV ziņās"},
      {"vina", "Viņa.lv ziņas"},
      {"campus", "Campus ziņas"},
    };

    SelectList DelfiChannelsList = new SelectList(
           DelfiChannels.Select(x => new { Value = x.Key, Text = x.Value }),
           "Value",
           "Text"
       );
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        if (Model.Avatar != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="@Url.Content(Model.Avatar)" height="300" width="auto" alt="" />
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.AvatarFile, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AvatarFile, new { type = "file", accept = "image/jpeg,  image/jpg, image/png" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DelfiChannel, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DelfiChannel, DelfiChannelsList)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumberOfRecords, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NumberOfRecords, new { @class = "form-control", @type = "number" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    }
</div>
