﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DELFI</h1>
    <p class="lead">Delfi (occasionally capitalized as DELFI) is a major internet portal in Estonia, Latvia, and Lithuania providing daily news, ranging from gardening to politics. It ranks as one of the most popular websites among Baltic users.</p>
    <p><a href="https://www.delfi.lv/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in ViewData["Feeds"] as List<Feeds>)
    {
        <div class="col-md-4">
            <h2>@item.Title</h2>
            <p>@item.Description</p>
            <p><a class="btn btn-default" href="@item.Link" target="_blank">Learn more &raquo;</a></p>
        </div>
    }
</div>
